$red-oshushi: #da4040;
$orange-salmon: #ed6103;
$mono-white: #fff;
$mono-black: #000;
$mono-snow: #f5f5f5;
$mono-smoke: #d8d8d8;

$color-service: (
    base: $mono-white,
    accent: $red-oshushi,
    text: $mono-black,
    border: $mono-smoke,
);
$color-sushi: (
    oshushi: $red-oshushi,
    salmon: $orange-salmon
);

// グラデーションを生成する
@function color-gradient($opacity: 1, $deg: 0, $color1: $red-oshushi, $color2: $orange-salmon) {
    $deg: $deg + 'deg';
    $deg: unquote($deg);
    @return linear-gradient($deg, rgba($color1, $opacity), rgba($color2, $opacity));
}
